@model FixedModules.Models.UserLogin

@{
    ViewData["Title"] = "User-Edit";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: "GetRoles",
            context: document.body
        }).done(function (data) {
            console.log(data);

            for (let i = 0; i < data.length; i++) {
                $("#roles").append(new Option(data[i]['name'], data[i]['roleId']));
            }
        });
    });

    function addRoleId() {
        var strUser = $('#roles').val();
        $('#roleids').val(strUser.toString());
        //console.log($('#roleids').val());
    }

    function isCodeExists() {
        let code = $('#Code').val();

        $.get("/Department_Master/IsCodeExists?code=" + code, function (data, status) {
            if (status === 'success') {
                if (data) {
                    $('#Active').prop('checked', false);
                    $('#status').val(false);
                } else {
                    $('#Active').prop('checked', true);
                    $('#status').val(true);
                }
            } else {
                console.log("SERVER ERROR!")
            }
        });
    }
</script>
<body>
    <div class="content-i">
        <div class="content-box">
            <div class="element-wrapper">
                <h6 class="element-header">
                    Invite User
                </h6>
                <div class="element-box">
                    <div class="row">

                        <input class="box btn-secondary" style="border-radius:5px; cursor:pointer; margin-left:1%" type="button" value="Back" onclick="location.href='@Url.Action("Index", "User_Management")'" />
                    </div>
                    <div class="card-body z-depth-1">
                        <div class="detailContainer" style="max-width: 600px;margin: 0 auto;padding: 0 20px;margin-bottom: 10px;">

                            <form asp-action="Edit" method="post">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <label class="col-sm-12 control-label col-form-label">Email<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                            <div class="col-sm-12">
                                                <input autocomplete="off" class="form-control" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" type="email" value="@Model.Email" required disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <label class="col-sm-12 control-label col-form-label">Roles<span class="value-mandatory"><i class="mdi mdi-value"></i></span></label>
                                            <input name="RoleIds" id="roleids" type="hidden" />
                                            <div class="col-sm-12">

                                                <select onchange="addRoleId()" id="roles" style="width: 100%" class="selectpicker" multiple data-live-search="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="btn-container text-center">
                                    <button type="submit" value="Edit" class="btn btn-primary btn-fix-width">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').dataTable({
            "bAutoWidth": false
        });

        $(document).ready(function () {

        });


        $('#Active').change(function () {
            if (this.checked) {
                $('#status').val(true);
            } else {
                $('#status').val(false);
            }
        });

        $(".select2").select2();

        $(document).ready(function () {
            $(".js-example-basic-multiple").select2({
                placeholder: "Role",
                theme: "classic",
                ajax: {
                    url: "/User_Management/GetUserRole",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchTerm: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });
        });


    </script>
}
